<!-- (*) assigned classes -->

<!-- *class view-login / background color -->
<ion-view hide-nav-bar='true' class="view-login">
    <ion-content padding="true">
        <!-- *class logo / logo company or app -->
        <div class="logo">
            <img ng-src="img/logo.png" alt="Company">
        </div>
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="email" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Password" ng-model="user.pass">
                </label>
                <button class="button button-block button-royal" ng-click="signIn()">
                    LOG IN
                </button>
                <span>or</span>
                <button class="button button-block icon ion-social-facebook-outline button-royal">
                </button>
                <button class="button button-block icon ion-social-twitter-outline button-royal">
                </button>
                <p>Don't have an account? <a href="#"> Sign Up</a></p>
            </div>
        </form>
    </ion-content>
</ion-view>