<!-- (*) assigned classes -->

<!-- *class view-login / background color -->
<ion-view hide-nav-bar='true' class="view-login">
    <ion-content padding="true">
        <!-- *class logo / logo company or app -->
        <div class="logo">11
            <img ng-src="img/logo.png" alt="Company">
        </div>
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" placeholder="логин" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="пароль" ng-model="user.password">
                </label>
                <button class="button button-block button-royal" ng-click="signIn(user)">
                    Войти
                </button>
                <p><a href="#"> Зарегистрироваться</a></p>
            </div>
        </form>
    </ion-content>
</ion-view>