<!-- (*) assigned classes -->

<ion-view view-title="Dashboard">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
    
     <ion-list>
                    <ion-item ng-repeat="route in today">
                              <div class="list card">
                                    <div class="item item-avatar item-icon-right">
                                        <img src="img/27.jpg">
                                        <h2>Venkman Romero</h2>
                                        <p class="time">
                                            <a>
                                                <i class="icon ion-ios-clock-outline"></i>
                                                25min
                                            </a>
                                        </p>
                                        <p class="icon-p">
                                            <i class="icon ion-ios-location-outline"></i>
                                            San Francisco
                                        </p>
                                    </div>
                                    <div class="item item-image" ng-click="routeClick({{$index}})">
                                    <div class="animate-switch-container" ng-switch on="selection">
                                        <div id="row_{{$index}}_head">
                                            <a > <i class="round-circle">{{route.human_diff}}</i></a>    
                                        </div>
                                                                    
                                        <div id="row_{{$index}}_content">
                                                123213
                                        </div>
                                      </div>
                                    </div>
                                    <div class="item tabs tabs-secondary tabs-icon-left">
                                        <a class="tab-item" href="#">
                                        <i class="icon ion-ios-heart-outline"></i>
                                        150
                                        </a>
                                        <a class="tab-item" href="#">
                                        <i class="icon ion-ios-chatbubble-outline"></i>
                                        30
                                        </a>
                                        <a class="tab-item" href="#">
                                        <i class="icon ion-ios-redo-outline"></i>
                                        25
                                        </a>
                                        <a class="tab-item" href="#">
                                            <i class="icon ion-ios-more-outline"></i>
                                        </a>
                                    </div>
                                </div>
                    </ion-item>
             </ion-list>
                
                
                

           </ion-content>
</ion-view>
