<!-- (*) assigned classes -->

<ion-view view-title="Chats">
    <ion-content>
        <!-- *item-border-off / quit first border of the list item -->
        <ion-list class="item-border-off">
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/27.jpg">
                <h2>
                    Ben Loson
                    <!-- *online-off / color state (offline) -->
                    <!-- *online-on / color state (online) -->
                    <div class="online-off"></div>
                </h2>
                <p>You on your way?</p>
                <!-- *time-list / time of activity -->
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    2h
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <!-- button options -->
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/88.jpg">
                <h2>
                    Brad Wix
                    <div class="online-on"></div>
                </h2>
                <p>Hey, it\'s me</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    5m
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/48.jpg">
                <h2>
                    Amy Bradleyson
                    <div class="online-off"></div>
                </h2>
                <p>I should buy a boat</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    5h
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/9.jpg">
                <h2>
                    Perry Don
                    <div class="online-on"></div>
                </h2>
                <p>Look at my mukluks!</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    10m
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/82.jpg">
                <h2>
                    Carla Harrington
                    <div class="online-on"></div>
                </h2>
                <p>This is wicked good ice cream</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    2m
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/2">
                <img ng-src="img/78.jpg">
                <h2>
                    Amy Bradleyson
                    <div class="online-off"></div>
                </h2>
                <p>I should buy a boat</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    5h
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-close-outline"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
