<!-- (*) assigned classes -->

<ion-view view-title="Dashboard">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/48.jpg">
                <h2>Dana Cobain</h2>
                <!-- *class time / time and icon -->
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i>
                        15min
                    </a>
                </p>
                <!-- *class icon-p / icon location -->
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i>
                    San Francisco
                </p>
            </div>
            <div class="item item-image">
                <img src="img/feed/2.jpg">
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-heart-outline"></i>
                  150
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-chatbubble-outline"></i>
                  30
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-redo-outline"></i>
                  25
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-more-outline"></i>
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/27.jpg">
                <h2>Venkman Romero</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i>
                        25min
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i>
                    San Francisco
                </p>
            </div>
            <div class="item item-image">
                <img src="img/feed/3.jpg">
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-heart-outline"></i>
                  150
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-chatbubble-outline"></i>
                  30
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-redo-outline"></i>
                  25
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-more-outline"></i>
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/82.jpg">
                <h2>Pam Daniels</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i>
                        30min
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i>
                    New York
                </p>
            </div>
            <div class="item item-image">
                <img src="img/feed/1.jpg">
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-heart-outline"></i>
                  150
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-chatbubble-outline"></i>
                  30
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-ios-redo-outline"></i>
                  25
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-more-outline"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
