<!-- (*) assigned classes -->

<ion-view view-title="Favorites">
    <ion-content>
        <!-- *input-search -->
        <div class="list list-inset input-search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
          </label>
        </div>
        <!-- *item-border-off / quit first border of the list item-->
        <!-- *list-fav / content of the list -->
        <ion-list class="item-border-off list-fav">
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/27.jpg">
                <!-- *fav-on / color of state -->
                <!-- *fav-away / color of state -->
                <!-- *fav-busy / color of state -->
                <!-- *fav-off / color of state -->
                <div class="fav-on"></div>
                <h2>
                    Ben Loson
                </h2>
                <!-- button options -->
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/88.jpg">
                <div class="fav-away"></div>
                <h2>
                    Brad Wix
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/48.jpg">
                <div class="fav-off"></div>
                <h2>
                    Amy Bradleyson
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/9.jpg">
                <div class="fav-busy"></div>
                <h2>
                    Perry Don
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/82.jpg">
                <div class="fav-on"></div>
                <h2>
                    Carla Harrington
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/78.jpg">
                <div class="fav-busy"></div>
                <h2>
                    Amy Bradleyson
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar">
                <img ng-src="img/92.jpg">
                <div class="fav-off"></div>
                <h2>
                    Perry Don
                </h2>
                <ion-option-button>
                    <i class="icon ion-ios-trash-outline"></i>
                </ion-option-button>
                <ion-option-button>
                    <i class="icon ion-ios-chatbubble-outline"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
