/**
 * Tabs
 * --------------------------------------------------
 */

.tabs-light > .tabs {
	border-color: $light;
}
.tabs-stable > .tabs {
	border-color: $stable;
}
.tabs-positive > .tabs {
	border-color: $positive;
}
.tabs-calm > .tabs {
	border-color: $calm;
}
.tabs-assertive > .tabs {
	border-color: $assertive;
}
.tabs-balanced > .tabs {
	border-color: $balanced;
}
.tabs-energized > .tabs {
	border-color: $energized;
}
.tabs-royal > .tabs {
	border-color: $royal;
}
.tabs-dark > .tabs {
	border-color: $dark;
}