// Colors
// -------------------------------

$stable:                          #f0f0f0 !default;
$positive:                        #46C7F3 !default;
$calm:                            #84C4CD !default;
$balanced:                        #6fd194 !default;
$energized:                       #ecbe68 !default;
$assertive:                       #ff4958 !default;
$royal:                           #80d5f2 !default;
$dark:                       	  #5F5F5F !default;